<a href="https://colab.research.google.com/github/SimonGsponer/Introduciendo_Python_Para_Ciencias_Sociales/blob/main/Analysis_de_Datos_Para_Ciencias_Sociales_Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Análisis de Datos Para Ciencias Sociales

En esta clase vamos a aprender los primeros pasos para analisar un conjunto de datos con el módulo `pandas`

**Enlaces Importantes**:
* [Documentación Pandas](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.values.html) -> asegúrese de que uses la versión correcta de la documentación
* [Guía del usario oficial de Pandas](https://pandas.pydata.org/docs/user_guide/index.html)

# 1.0 Primeros Pasitos

## Trabajando con nuestro primer DataFrame

In [5]:
import pandas as pd

In [4]:
# para nuestros primeros pasitos con pandas, vamos a usar un conjunto de datos artificial que definimos más abajo

filas = [
    (35, 'M', 5_000_000, False),
    (18, 'F', 10_000_000, True),
    (25, 'F', 7_000_000, True),
    (40, 'M', 3_000_000, False),
    (22, 'F', 10_000_000, False),
    (21, 'F', 2_000_000, False)
]

columnas = ['edad', 'sexo', 'sueldo_anual', 'habla_inglés']

df = pd.DataFrame(data=filas, columns=columnas)

Ahora, necesitamos familiarizarnos con 3 conceptos importantes:
* **Índice:** Son los números de 0 a 5 al lado izquierdo. En este ejemplo tenemos un índice numérico, pero un índice también puede ser un número de identificación, una marca de tiempo o cualquier información que identifique solamente una (!) fila.
* **Serie:** Una columna sola se llama `serie` en pandas. `edad` es una serie, y por supuesto `sexo`, `sueldo_anual` y `habla_inglés` también.
* **DataFrame:** El dataframe es el índice y todas las series juntos, constituyendo el conjunto de datos.

En general, estos objetos (`Índice`, `Serie`, `DataFrame`) tienen 'herramientas' (término correcto será métodos) y informaciones de si mismo (atributos) diferentes, así es muy importante saber cuando usted está trabajando con cual.

## DataFrame Slicing

DataFrame slicing es el proceso de seleccionar ciertas filas y columnas de un DataFrame. Para la selección se puede usar dos métodos del DataFrame: `loc` (seleccionando filas/columnas por valores) y `iloc` (seleccionando filas/columnas por su posición). 

Los métodos .loc y .iloc se invocan usando corchetes y necesitan dos informaciones: la selección deseada de las filas y la selección deseade de columnas.

**`.loc`**

In [5]:
sub_df = df.loc[:,:] # : significa "todo", o sea sub_df contiene todas filas y todas columnas
print(sub_df)

   edad sexo  sueldo_anual  habla_inglés
0    35    M       5000000         False
1    18    F      10000000          True
2    25    F       7000000          True
3    40    M       3000000         False
4    22    F      10000000         False
5    21    F       2000000         False

In [6]:
sub_df = df.loc[[2,3], :] # selecciona las filas que tienen el valor de índice 2 y 3, y todas columnas
print(sub_df)

   edad sexo  sueldo_anual  habla_inglés
2    25    F       7000000          True
3    40    M       3000000         False

In [7]:
sub_df = df.loc[:, ['edad', 'sueldo_anual']] # selecciona todas filas pero solamente las columnas 'edad' y 'sueldo_anual'
print(sub_df)

   edad  sueldo_anual
0    35       5000000
1    18      10000000
2    25       7000000
3    40       3000000
4    22      10000000
5    21       2000000

In [8]:
sub_df = df.loc[~df.index.isin([2,3]), ['edad']] # selecciona todas filas aparte de aquellas que tienen el valor de índice 2 & 3; selecciona la columna edad
print(sub_df)

   edad
0    35
1    18
4    22
5    21

In [19]:
sub_df = df.loc[df['edad'].gt(35), :] # selecciona todas filas donde la persona tiene más de 35 años
print(sub_df)

   edad sexo  sueldo_anual  habla_inglés
3    40    M       3000000         False

In [24]:
sub_df = df.loc[
    (
        (df['edad'].gt(24))
        & (df['sueldo_anual'].ge(5_000_000))
    ), :] # selecciona todas filas donde la persona tiene más de 24 años y gana 5,000,000 colones o más
print(sub_df)

   edad sexo  sueldo_anual  habla_inglés
2    25    F       7000000          True
0    35    M       5000000         False

**`.iloc`**

Para entender mejor la diferencia entre el valor del índice y la posición de la fila, vamos a mezclar nuestro DataFrame.

In [9]:
df = df.sample(frac=1) # hacemos una muestra del conjunto de datos y usamos 100% del conjunto como muestra
print(df)

   edad sexo  sueldo_anual  habla_inglés
2    25    F       7000000          True
5    21    F       2000000         False
1    18    F      10000000          True
3    40    M       3000000         False
4    22    F      10000000         False
0    35    M       5000000         False

In [10]:
sub_df = df.iloc[[1],[1]] # selecciona la segunda fila y la segunda columna; IMPORTANTE: los índices en python empiezan a 0!
print(sub_df)

  sexo
5    F

In [17]:
sub_df = df.iloc[1:4, 1:2] # nota: especificando rangos (selecciona segunda fila hasta la cuarta) no require corchetes dentro las corchetes principales
print(sub_df)

  sexo
5    F
1    F
3    M

## Aggregaciones y Agrupaciones

Sin análisis adicional, solamente filtrar datos no sirve mucho. Por eso, vamos a ver como se puede aggregar datos para obtener la media, suma, etc.

In [29]:
edad_promedia = df.loc[df['sexo']=='F',['edad']].mean() # la edad promedia de las mujeres en nuestro conjunto de datos
print(edad_promedia)

edad    21.5
dtype: float64

In [33]:
agg_df = df.loc[df['sexo']=='F', :].agg({'edad': 'mean', 'sueldo_anual': 'sum'}) # con agg podemos especificar más aggregaciones a la vez
print(agg_df)

edad                  21.5
sueldo_anual    29000000.0
dtype: float64

In [36]:
agg_df = (
    df
    .groupby(['sexo'])
    .agg(
          {
            'edad': 'mean',
            'sueldo_anual': ['sum', 'max', 'min']
           }
         )
    ) # usamos 'groupby' para obtener las mismas agregaciones para chicos también

print(agg_df)

      edad sueldo_anual
      mean          sum       max      min
sexo
F     21.5     29000000  10000000  2000000
M     37.5      8000000   5000000  3000000

## Práctica de Capítulo 1.0

Para la práctica, use el dataframe `practica_df` que se define más abajo

In [6]:
import numpy as np

In [23]:
# para nuestros primeros pasitos con pandas, vamos a usar un conjunto de datos artificial que definimos más abajo

filas = [
    (1980, 'M', 500_000, 200, np.NaN),
    (2001, 'F', 400_000, 180, 7),
    (1995, 'F', 300_000, np.NaN, 6),
    (2004, 'M', 700_000, 150, 5),
    (1992, 'F', 1_000_000, 250, 12),
    (1985, 'F', np.NaN, np.NaN, 8),
    (1998, 'M', 350_000, 7, 10),
    (1997, 'F', 800_000, 9, 9)
]

columnas = ['fecha_de_nacimiento', 'sexo', 'sueldo_mensual', 'n_dias_de_trabajo_anual', 'n_horas_por_dia']

practica_df = pd.DataFrame(data=filas, columns=columnas)

In [21]:
# 1.1 Cree una columna nueva que contiene el salario anual con el nombre `salario_anual`.
# Truco: acuérdese de las operaciones matemáticas básicas

practica_df['sueldo_anual'] =

# 1.2 Cree una columna nueva que contiene el edad de las personas encuestadas.
# Supongamos que estos datos hayan sido coleccionado en el año 2022.

# 1.3 El conjuncto de datos lleva la información del total de los dias que las personas trabajan
# por año y el número de horas que trabajan en promedio. Use esta información para calcular el número de horas
# que trabajan en total por año.

# 1.4 Calcule el promedio sueldo de las personas en el conjunto de datos

# 1.5 Use el promedio sueldo para remplazar las observaciones que faltan (los np.NaN).
# Hágalo para las dos columnas conteniendo información del sueldo

promedio_sueldo_mensual =
promedio_sueldo_anual =

practica_df['sueldo_mensual'].fillna(
    value=promedio_sueldo_mensual,
    inplace=True
)
practica_df['sueldo_anual'] = practica_df['sueldo_anual'].fillna(
    value=promedio_sueldo_anual,
    inplace=False
)

# 1.6 ¿Qué hace la palabra clave `inplace` en el ejercicio 1.5?

# 1.7 ¿En promedio cuántas horas trabajan los hombres y las muyeres encuestados por año?
# Calcule los dos promedios.

# 1.8 Cree un conjunto de datos que se llama `sub_df` y que contiene todas las personas que
# tengan más de 25 años y que tengan un sueldo anual de más de 1'000'000 colones.

# 1.9 ¿Cúal es la diferencia entre los siguientes objetos? ¿Por qué importa la diferencia?

objeto_a = practica_df.loc[:, 'sueldo_mensual']
objeto_b = practica_df.loc[:, ['sueldo_mensual']]

KeyError: ignored

In [22]:
practica_df

,fecha_de_nacimiento,sexo,sueldo_mensual,n_dias_de_trabajo_anual,n_horas_por_dia
0,1980,M,500000.0,200.0,NaN
1,2001,F,400000.0,180.0,7.0
2,1995,F,300000.0,NaN,6.0
3,2004,M,700000.0,150.0,5.0
4,1992,F,1000000.0,250.0,12.0
5,1985,F,1.0,NaN,NaN
6,1998,M,350000.0,7.0,NaN
7,1997,F,800000.0,9.0,NaN

# ⚠️ Zona de Construcción ⚠️👷

## Inicialización

**El propósito principal de esta sección es crear el entorno para trabajar, y cargar todos los conjuntos de datos que usemos.**

* Es más legible importar todos los módulos al inicio ([PEP-8](https://peps.python.org/pep-0008/))
* Si usted necesita instalar algun módulo (como lo hacemos con `pyreadstat`), siempre incluye la versión del módulo que necesitemos

In [1]:
# ¿Cómo saber cual version que instalar?
# pd.__version__ -> abrir environment.yaml 
%pip install pyreadstat>=1.1.5

In [5]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
ruta_spss = '/content/drive/My Drive/analisis_datos_ciencias_sociales/III Trimestre 2022.sav'

In [7]:
df = pd.read_spss(ruta_spss)

## Introducción a Pandas

In [11]:
# df es un dataframe, o sea el objecto que contiene nuestro conjunto de datos. ¿Pero cómo se puede ver nuestros datitos?
# Use `df.head()` o `df.tail()` para ver las primeras/últimas filas. Estos métodos también permiten especificar el
# número de filas usando la palabra clave `n`
df.head(n=2)

,ID_AMO,ID_TRIMESTRE,ID_VIVIENDA,ID_HOGAR,ID_LINEA,Sexo,Edad,Estado_conyugal,Lugar_nacimiento,Permanencia_pais,...,Asalariado_TeletrabajoCOVID19,Ocupados_con_Conectividad,Consecutivo,N_hogar,Grupo_edad,Ingreso_principal_nomonetario,Poblacion_joven,Poblacion_adulto,Joven_nini,Tipo_seguro
0,2022.0,3.0,1.0,1.0,1.0,Mujer,92.0,...viudo(a)?,En otro cantón,NaN,...,NaN,NaN,880.0,1.0,60 y más,NaN,NaN,Población adulta,NaN,"...pensionado de la CCSS, Magisterio, u otro?"
1,2022.0,3.0,1.0,1.0,2.0,Mujer,54.0,...soltero(a)?,En otro cantón,NaN,...,No realiza teletrabajo,NaN,880.0,0.0,45 a 59 años,453100.0,NaN,Población adulta,NaN,...cuenta propia o voluntario?

In [15]:
# Para obtener información básica sobre el conjunto de datos como el número de filas y columnas, use el atributo `.shape`
df.shape

(23484, 388)

In [16]:
# Ya que pandas no está deseñado para mostrar todos los datos de un dataframe,
# todas las columnas se pueden mostrar únicamente recorriéndolas a la vez.
# Para alcanzarlo, usamos el atributo `.columns` que contiene todas columnas de un dataframe como una lista.

for col in df.columns:
  print(col)

ID_AMO
ID_TRIMESTRE
ID_VIVIENDA
ID_HOGAR
ID_LINEA
Sexo
Edad
Estado_conyugal
Lugar_nacimiento
Permanencia_pais
Permanencia_intension
Permanencia_motivo
Seguro
Regimen_pension
Plan_voluntario
Educacion_asiste
Educacion_nivel_grado
Educacion_codigotitulo
EducacionNoregular_asiste
EducacionNoregular_codigo
EducacionNoregular_institucion
Idioma
Idioma_cual
Trabajo
Trabajo_marginal
Actividad_sinpaga
Ausente
Motivo_ausente
Desea_trabajar
Busca_trabajo
Motivo_nobusco
Cod_empresa
Lugar_trabajo
Cod_rama
Cod_rama_5digitos
Herramientas
Cod_ocupacion
Horas_normales_principal
Horas_extras_principal
Horas_menos_principal
Horas_efectivas_principal
Cantidad_personas
Lugar_tareas
Empresa_paga
Cod_empresa_paga
Cod_rama_paga
Cod_rama_paga_5digitos
D1
D2
D3
D4
D5
D5A
D6A
D6B
D6C
D6D
D7
D8
D9
D10
D12A
D13
D14_1
D14_2
D14A_1
D15A
D15B
D15C
D15D
D15E
D16
D17
D18
D18_1
D18A
D20
D22
D22A
D23
D23A
D24
D24_1
D24A
D25A
D26A
D27
E1
E2
E3
E3A
E4
E5_1
E5_2
E5A
E6A
E6B
E6C
E6D
E6E
E7
E8
E8A
E9A
E9B
E9C
E9D
E9E
E10A
E10B
E11
E13A
E13B
E14A1
E14A2
E14A3
E14A4
E15A
E15B
E15C
E15D
E15E
F1
F1A
F1B
F1C
Cod_empresa_sec
Cod_actividad_sec
Cod_actividad5digitos_sec
F3B
Cod_ocupacion_sec
F3D
F3E
F5
F5A
Horas_normales_secs
Horas_extras_secs
Horas_menos_secs
Horas_efectivas_secs
F6E
F7A1
F7B1
F7C
F7C1
F8D
F8E
F9
F13
G1
G2
G3
G4
G5
G6
G7
H1
H2
Cod_empresa_desempleo
Cod_actividad_desempleo
Cod_actividad5digitos_desempleo
H6A
H6B
H7
H8
H9
I1A
I1B
I2
I3
I5
I5A
I6
I6A
I7
I7A
I9
J1
J2
J3
J4
J5
J6
J7
J8
J9
J10
J11
J12
J13_1
J13_2
J13_3
J13_4
J13_5
J13_6
J13_7
J14
J15_1
J15_2
J15_3
J15_4
J15_5
J15_6
J15_7
J16
J16_1
J16_2
J16_3
J16_4
J16_5
J17
J18
J19
J19_1
J20
J21_1
J21_2
J21_3
J21_4
J21_5
J22
J23_1
J23_2
J23_3
J23_4
J23_5
J24
J25_1
J25_2
J25_3
J25_4
J26_1
J26_2
J26_3
J26_4
J26_5
J26_6
J26_7
J27_1
J27_2
J27_3
J27_4
J27_5
J27_6
Region
Zona
Factor_ponderacion
Poblacion
N_vivienda
Relacion_parentesco
Mayor_15
Provincia_nacimiento
Pais_nacimiento
Residente_pais
Amos_educacion
Educacion_titulo
Nivel_educativo
Especialidad_estudio
Especialidad_estudio_no_regular
Condicion_actividad
Fuerza_trabajo
Ocupado
Desempleado
Fuera_fuerza_trabajo
Desempleado_con_experiencia
Desempleado_sin_experiencia
Ausente_trabajo
Horas_efectivas
Grupo_horas_efectivas
Hora_normal_total
Horas_efectivas_total
Tamano_empresa
Posicion_empleo
Establecimiento_independiente
Ocupacion_COCR11
Calificacion_ocupacion_COCR11
Cod_empresa_publicacion
Sector_institucional
Sector_institucional_SCN
Cod_rama_publicacion
Rama_actividad
Sector_actividad
Ubicacion_empresa
Condicion_busqueda_empleo
Estabilidad_empleo
Condicion_aseguramiento
Subempleado
Clasificacion_asalariado
Formalidad_informalidad
Empleo_secundario
Posicion_secundario
Ocupacion_secundario_COCR11
Calificacion_ocupacion_secund
Sector_institucional_secundario
Rama_actividad_secundario
Disponibilidad_fuera_fuerza_trab
Razon_desempleado_con_experienc
Tiempo_busqueda_empleo
Posicion_desempleo
Sector_institucional_desempleo
Rama_actividad_desempleo
Salario_neto
Aguinaldo
Salario_escolar
Bonificacion
Propina
Pago_hora_extra
Otros_pagos
Otro_monetario
Monetario_asal
Ingreso_especie_alimentacion_asal
Ingreso_especie_transporte_asal
Ingreso_especie_vivienda_asal
Ingreso_especie_vehiculo_asal
Otro_especie_asal
Especie_asal
Ingreso_asalariado
Salario_constituido
Ganancia_constituido
Salario_constituido2
Aguinaldo_constituido
Monetario_constituido
Ingreso_especie_alimentacion_indep
Ingreso_especie_transporte_indep
Ingreso_especie_vivienda_indep
Ingreso_especie_vehiculo_indep
Otro_especie_indep
Especie_constituido
Ingreso_constituido
Ganancia_no_agro
Autoconsumo_no_agro
Ingreso_no_agro
D22B
D23B
Resta_agro
Ganancia_agro
Autoconsumo_agro
Ingreso_agro
Ingreso_independiente
Ingreso_principal
Salario_neto_sec
Especie_asal_sec
Ingreso_asal_sec
F7A1B
F7B1B
Monetario_indep_sec
F8A2
F8C2
Autoconsumo_sec
Ingreso_indep_sec
Ingreso_secundario
Ingreso_otros
Ingreso_total
Salario_bruto
Monetario_asal_bruto
Ingreso_asalariado_bruto
Ingreso_bruto_principal
Ingreso_bruto_principal_monet
Ingreso_bruto_principal_hora
Salario_bruto_sec
Ingreso_asal_bruto_sec
Ingreso_bruto_secundario
Ingreso_bruto_total_trabajo
Ingreso_bruto_total_trabajo_hora
Rango_ingreso_bruto_total_trabaj
Rango_ingreso_bruto_principal
Mas_40horas_menos_minimoingreso
Asalariado_Incidencia_IngresoCOVID19
Asalariado_Afectación_JornadaCOVID19
Independiente_IncidenciaCOVID19
Desempleado_IncidenciaCOVID19
Ocupado_IncidenciaCOVID19
Fuerza_trabajo_IncidenciaCOVID19
Fuera_fuerza_trabajo_IncidenciaCOVID19
Mayor_15_IncidenciaCOVID19
Condicion_Actividad_IncidenciaCOVID19
Incidencia_laboral
Independiente_GananciaCOVID19
Independiente_con_EstrategiasCOVID19
Asalariado_TeletrabajoCOVID19
Ocupados_con_Conectividad
Consecutivo
N_hogar
Grupo_edad
Ingreso_principal_nomonetario
Poblacion_joven
Poblacion_adulto
Joven_nini
Tipo_seguro

## Exploración

un

In [ ]:
df['Idioma_cual'].unique()

['...francés?', NaN, '...inglés?', '...español?', '...otro?', '...alemán?']
Categories (5, object): ['...alemán?', '...español?', '...francés?', '...inglés?', '...otro?']

In [ ]:
salario_columnas = [col for col in df.columns if "salar" in col]

ID_AMO
ID_TRIMESTRE
ID_VIVIENDA
ID_HOGAR
ID_LINEA
Sexo
Edad
Estado_conyugal
Lugar_nacimiento
Permanencia_pais
Permanencia_intension
Permanencia_motivo
Seguro
Regimen_pension
Plan_voluntario
Educacion_asiste
Educacion_nivel_grado
Educacion_codigotitulo
EducacionNoregular_asiste
EducacionNoregular_codigo
EducacionNoregular_institucion
Idioma
Idioma_cual
Trabajo
Trabajo_marginal
Actividad_sinpaga
Ausente
Motivo_ausente
Desea_trabajar
Busca_trabajo
Motivo_nobusco
Cod_empresa
Lugar_trabajo
Cod_rama
Cod_rama_5digitos
Herramientas
Cod_ocupacion
Horas_normales_principal
Horas_extras_principal
Horas_menos_principal
Horas_efectivas_principal
Cantidad_personas
Lugar_tareas
Empresa_paga
Cod_empresa_paga
Cod_rama_paga
Cod_rama_paga_5digitos
D1
D2
D3
D4
D5
D5A
D6A
D6B
D6C
D6D
D7
D8
D9
D10
D12A
D13
D14_1
D14_2
D14A_1
D15A
D15B
D15C
D15D
D15E
D16
D17
D18
D18_1
D18A
D20
D22
D22A
D23
D23A
D24
D24_1
D24A
D25A
D26A
D27
E1
E2
E3
E3A
E4
E5_1
E5_2
E5A
E6A
E6B
E6C
E6D
E6E
E7
E8
E8A
E9A
E9B
E9C
E9D
E9E
E10A
E10B
E11
E13A
E13B
E14A1
E14A2
E14A3
E14A4
E15A
E15B
E15C
E15D
E15E
F1
F1A
F1B
F1C
Cod_empresa_sec
Cod_actividad_sec
Cod_actividad5digitos_sec
F3B
Cod_ocupacion_sec
F3D
F3E
F5
F5A
Horas_normales_secs
Horas_extras_secs
Horas_menos_secs
Horas_efectivas_secs
F6E
F7A1
F7B1
F7C
F7C1
F8D
F8E
F9
F13
G1
G2
G3
G4
G5
G6
G7
H1
H2
Cod_empresa_desempleo
Cod_actividad_desempleo
Cod_actividad5digitos_desempleo
H6A
H6B
H7
H8
H9
I1A
I1B
I2
I3
I5
I5A
I6
I6A
I7
I7A
I9
J1
J2
J3
J4
J5
J6
J7
J8
J9
J10
J11
J12
J13_1
J13_2
J13_3
J13_4
J13_5
J13_6
J13_7
J14
J15_1
J15_2
J15_3
J15_4
J15_5
J15_6
J15_7
J16
J16_1
J16_2
J16_3
J16_4
J16_5
J17
J18
J19
J19_1
J20
J21_1
J21_2
J21_3
J21_4
J21_5
J22
J23_1
J23_2
J23_3
J23_4
J23_5
J24
J25_1
J25_2
J25_3
J25_4
J26_1
J26_2
J26_3
J26_4
J26_5
J26_6
J26_7
J27_1
J27_2
J27_3
J27_4
J27_5
J27_6
Region
Zona
Factor_ponderacion
Poblacion
N_vivienda
Relacion_parentesco
Mayor_15
Provincia_nacimiento
Pais_nacimiento
Residente_pais
Amos_educacion
Educacion_titulo
Nivel_educativo
Especialidad_estudio
Especialidad_estudio_no_regular
Condicion_actividad
Fuerza_trabajo
Ocupado
Desempleado
Fuera_fuerza_trabajo
Desempleado_con_experiencia
Desempleado_sin_experiencia
Ausente_trabajo
Horas_efectivas
Grupo_horas_efectivas
Hora_normal_total
Horas_efectivas_total
Tamano_empresa
Posicion_empleo
Establecimiento_independiente
Ocupacion_COCR11
Calificacion_ocupacion_COCR11
Cod_empresa_publicacion
Sector_institucional
Sector_institucional_SCN
Cod_rama_publicacion
Rama_actividad
Sector_actividad
Ubicacion_empresa
Condicion_busqueda_empleo
Estabilidad_empleo
Condicion_aseguramiento
Subempleado
Clasificacion_asalariado
Formalidad_informalidad
Empleo_secundario
Posicion_secundario
Ocupacion_secundario_COCR11
Calificacion_ocupacion_secund
Sector_institucional_secundario
Rama_actividad_secundario
Disponibilidad_fuera_fuerza_trab
Razon_desempleado_con_experienc
Tiempo_busqueda_empleo
Posicion_desempleo
Sector_institucional_desempleo
Rama_actividad_desempleo
Salario_neto
Aguinaldo
Salario_escolar
Bonificacion
Propina
Pago_hora_extra
Otros_pagos
Otro_monetario
Monetario_asal
Ingreso_especie_alimentacion_asal
Ingreso_especie_transporte_asal
Ingreso_especie_vivienda_asal
Ingreso_especie_vehiculo_asal
Otro_especie_asal
Especie_asal
Ingreso_asalariado
Salario_constituido
Ganancia_constituido
Salario_constituido2
Aguinaldo_constituido
Monetario_constituido
Ingreso_especie_alimentacion_indep
Ingreso_especie_transporte_indep
Ingreso_especie_vivienda_indep
Ingreso_especie_vehiculo_indep
Otro_especie_indep
Especie_constituido
Ingreso_constituido
Ganancia_no_agro
Autoconsumo_no_agro
Ingreso_no_agro
D22B
D23B
Resta_agro
Ganancia_agro
Autoconsumo_agro
Ingreso_agro
Ingreso_independiente
Ingreso_principal
Salario_neto_sec
Especie_asal_sec
Ingreso_asal_sec
F7A1B
F7B1B
Monetario_indep_sec
F8A2
F8C2
Autoconsumo_sec
Ingreso_indep_sec
Ingreso_secundario
Ingreso_otros
Ingreso_total
Salario_bruto
Monetario_asal_bruto
Ingreso_asalariado_bruto
Ingreso_bruto_principal
Ingreso_bruto_principal_monet
Ingreso_bruto_principal_hora
Salario_bruto_sec
Ingreso_asal_bruto_sec
Ingreso_bruto_secundario
Ingreso_bruto_total_trabajo
Ingreso_bruto_total_trabajo_hora
Rango_ingreso_bruto_total_trabaj
Rango_ingreso_bruto_principal
Mas_40horas_menos_minimoingreso
Asalariado_Incidencia_IngresoCOVID19
Asalariado_Afectación_JornadaCOVID19
Independiente_IncidenciaCOVID19
Desempleado_IncidenciaCOVID19
Ocupado_IncidenciaCOVID19
Fuerza_trabajo_IncidenciaCOVID19
Fuera_fuerza_trabajo_IncidenciaCOVID19
Mayor_15_IncidenciaCOVID19
Condicion_Actividad_IncidenciaCOVID19
Incidencia_laboral
Independiente_GananciaCOVID19
Independiente_con_EstrategiasCOVID19
Asalariado_TeletrabajoCOVID19
Ocupados_con_Conectividad
Consecutivo
N_hogar
Grupo_edad
Ingreso_principal_nomonetario
Poblacion_joven
Poblacion_adulto
Joven_nini
Tipo_seguro

In [ ]:
salario_columnas

['Clasificacion_asalariado',
 'Ingreso_asalariado',
 'Ingreso_asalariado_bruto',
 'Asalariado_Incidencia_IngresoCOVID19',
 'Asalariado_Afectación_JornadaCOVID19',
 'Asalariado_TeletrabajoCOVID19']

In [ ]:
df[salario_columnas]

,Clasificacion_asalariado,Ingreso_asalariado,Ingreso_asalariado_bruto,Asalariado_Incidencia_IngresoCOVID19,Asalariado_Afectación_JornadaCOVID19,Asalariado_TeletrabajoCOVID19
0,NaN,NaN,NaN,NaN,NaN,NaN
1,No tienen rebajos de seguro social,1.602354e+06,1.602354e+06,NaN,NaN,No realiza teletrabajo
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Tienen rebajos de seguro social,3.773499e+06,5.028731e+06,NaN,NaN,"Sí, por el COVID-19, le aumentaron e inició te..."
4,Tienen rebajos de seguro social,3.764042e+05,4.174842e+05,NaN,NaN,No realiza teletrabajo
...,...,...,...,...,...,...
23479,NaN,NaN,NaN,NaN,NaN,NaN
23480,NaN,NaN,NaN,NaN,NaN,NaN
23481,NaN,NaN,NaN,NaN,NaN,NaN
23482,NaN,NaN,NaN,NaN,NaN,NaN
23483,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['Nivel_educativo'].value_counts()

Secundaria incompleta       4511
Primaria completa           4471
Secundaria completa         2980
Universitario con título    2393
Primaria incompleta         2144
Universitario sin título    1079
Ninguno                      686
No especificado               11
Name: Nivel_educativo, dtype: int64

In [ ]:
df['Idioma_cual']

0        ...francés?
1                NaN
2                NaN
3         ...inglés?
4                NaN
            ...
23479            NaN
23480            NaN
23481            NaN
23482            NaN
23483            NaN
Name: Idioma_cual, Length: 23484, dtype: category
Categories (5, object): ['...alemán?', '...español?', '...francés?', '...inglés?', '...otro?']

In [ ]:
df['Ingreso_asalariado_bruto'] = df['Ingreso_asalariado_bruto'].astype(float)

In [ ]:
# Grupo_edad vs Edad
agg_df = (
    df
    .loc[:, ['Sexo', 'Grupo_edad', 'Ingreso_asalariado_bruto']]
    .groupby(['Sexo', 'Grupo_edad'])
    .agg({'Ingreso_asalariado_bruto': ['mean', 'count']})
    )

In [ ]:
print(agg_df)

                    Ingreso_asalariado_bruto
                                        mean count
Sexo   Grupo_edad
Hombre 15 a 24 años            334578.177438   441
       25 a 34 años            476685.973037   989
       35 a 44 años            575010.645646   888
       45 a 59 años            588191.482578   861
       60 y más                459495.629630   207
       Ignorado                          NaN     0
Mujer  15 a 24 años            346276.206637   221
       25 a 34 años            473814.279594   673
       35 a 44 años            576843.811978   718
       45 a 59 años            546937.182529   746
       60 y más                471115.624183   102
       Ignorado                          NaN     0

Categorías de `Idioma_cual`: ['...alemán?', '...español?', '...francés?', '...inglés?', '...otro?', 'ningún']

In [ ]:
print(f"Categorías de `Idioma_cual`: {list(df['Idioma_cual'].cat.categories)}")
df['Idioma_cual'] = (
    df['Idioma_cual']
    .cat.add_categories("ningún")
    .fillna("ningún")
    .cat.remove_categories(np.NaN)
    )
print(f"Categorías actualizadas de `Idioma_cual`: {list(df['Idioma_cual'].cat.categories)}")

# Idioma_cual
agg_df = (
    df
    .loc[:, ['Idioma_cual', 'Ingreso_asalariado_bruto']]
    .groupby(['Idioma_cual'])
    .agg({'Ingreso_asalariado_bruto': ['mean', 'count']})
    )

In [ ]:
# TODO: boxplot across Idioma_Cual & Grado

            Ingreso_asalariado_bruto
                                mean count
Idioma_cual
...alemán?                       NaN     0
...español?            713750.000000     2
...francés?            774791.666667     4
...inglés?             864966.484631   488
...otro?               795474.738095     7
ningún                 479812.446227  5345

Index(['...alemán?', '...español?', '...francés?', '...inglés?', '...otro?',
       'ningún'],
      dtype='object')

In [ ]:
df.loc[:, 'Ingreso_asalariado_bruto']

/usr/local/lib/python3.9/dist-packages/IPython/lib/pretty.py:700: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0                 NaN
1        1.602354e+06
2                 NaN
3        5.028731e+06
4        4.174842e+05
             ...
23479             NaN
23480             NaN
23481             NaN
23482             NaN
23483             NaN
Name: Ingreso_asalariado_bruto, Length: 23484, dtype: category
Categories (1822, float64): [2000.0, 4000.0, 8000.0, 10000.0, ..., 4.208333e+06, 4.513333e+06,
                             5.028731e+06, 6.860871e+06]

### Exploración de la variable `Edad`

In [1]:
df['Edad'].cat.categories

NameError: ignored

In [ ]:
for val, count in df['Edad'].value_counts().items():
  print(val, count)

## ¿Cuántos son las primas educativas en Costa Rica?

Scatterplot: 
* Color Educación -> También con grupos más generales
* eje y -> edad (variable númerica)
* eje x -> sueldo

Boxplot con visualisaciones multiples
* visualisación por nivel educativo
* sin colores

14.0 430
12.0 412
30.0 411
10.0 410
16.0 401
18.0 393
11.0 391
6.0 382
36.0 382
13.0 379
15.0 375
23.0 375
8.0 374
9.0 371
28.0 370
21.0 367
22.0 361
35.0 360
40.0 358
32.0 358
42.0 357
17.0 353
20.0 352
4.0 351
50.0 346
19.0 346
25.0 344
38.0 341
5.0 340
33.0 337
37.0 332
31.0 329
26.0 329
3.0 326
52.0 324
7.0 318
27.0 314
34.0 314
29.0 304
24.0 303
44.0 295
39.0 291
47.0 289
53.0 286
56.0 285
45.0 284
58.0 283
43.0 277
57.0 274
54.0 273
51.0 270
65.0 265
60.0 265
41.0 261
2.0 258
48.0 255
55.0 254
49.0 245
46.0 241
62.0 237
1.0 236
63.0 234
Menor de un año 231
61.0 211
59.0 207
64.0 207
67.0 195
66.0 177
68.0 170
70.0 169
72.0 167
69.0 139
73.0 138
71.0 128
75.0 108
74.0 105
76.0 101
77.0 96
79.0 81
78.0 78
82.0 72
80.0 72
81.0 65
83.0 53
84.0 52
85.0 38
87.0 38
89.0 35
88.0 31
86.0 30
90.0 29
93.0 18
91.0 13
97 años y más 12
92.0 10
94.0 10
96.0 8
95.0 6
Mayor de 15 años con edad ignorada 6

In [40]:
df.loc[
    (
        (df['Edad']!='Mayor de 15 años con edad ignorada')
        & (df['Edad']!='97 años y más 12')
        & (df['Edad']!='Menor de un año') 
    ), ['Grupo_edad', 'Edad']]

         Grupo_edad  Edad
0          60 y más  92.0
1      45 a 59 años  54.0
2          60 y más  80.0
3      45 a 59 años  59.0
4      35 a 44 años  44.0
...             ...   ...
23479           NaN  14.0
23480           NaN  11.0
23481           NaN   5.0
23482      60 y más  91.0
23483  45 a 59 años  58.0

[23247 rows x 2 columns]

14.0 430
12.0 412
30.0 411
10.0 410
16.0 401
18.0 393
11.0 391
6.0 382
36.0 382
13.0 379
15.0 375
23.0 375
8.0 374
9.0 371
28.0 370
21.0 367
22.0 361
35.0 360
40.0 358
32.0 358
42.0 357
17.0 353
20.0 352
4.0 351
50.0 346
19.0 346
25.0 344
38.0 341
5.0 340
33.0 337
37.0 332
31.0 329
26.0 329
3.0 326
52.0 324
7.0 318
27.0 314
34.0 314
29.0 304
24.0 303
44.0 295
39.0 291
47.0 289
53.0 286
56.0 285
45.0 284
58.0 283
43.0 277
57.0 274
54.0 273
51.0 270
65.0 265
60.0 265
41.0 261
2.0 258
48.0 255
55.0 254
49.0 245
46.0 241
62.0 237
1.0 236
63.0 234
Menor de un año 231
61.0 211
59.0 207
64.0 207
67.0 195
66.0 177
68.0 170
70.0 169
72.0 167
69.0 139
73.0 138
71.0 128
75.0 108
74.0 105
76.0 101
77.0 96
79.0 81
78.0 78
82.0 72
80.0 72
81.0 65
83.0 53
84.0 52
85.0 38
87.0 38
89.0 35
88.0 31
86.0 30
90.0 29
93.0 18
91.0 13
97 años y más 12
92.0 10
94.0 10
96.0 8
95.0 6
Mayor de 15 años con edad ignorada 6

In [25]:
vars(df['Edad'].value_counts())

{'_is_copy': None,
 '_mgr': SingleBlockManager
 Items: CategoricalIndex([14.0, 12.0, 30.0, 10.0, 16.0, 18.0, 11.0, 6.0, 36.0, 13.0,
                   15.0, 23.0, 8.0, 9.0, 28.0, 21.0, 22.0, 35.0, 40.0, 32.0,
                   42.0, 17.0, 20.0, 4.0, 50.0, 19.0, 25.0, 38.0, 5.0, 33.0,
                   37.0, 31.0, 26.0, 3.0, 52.0, 7.0, 27.0, 34.0, 29.0, 24.0,
                   44.0, 39.0, 47.0, 53.0, 56.0, 45.0, 58.0, 43.0, 57.0, 54.0,
                   51.0, 65.0, 60.0, 41.0, 2.0, 48.0, 55.0, 49.0, 46.0, 62.0,
                   1.0, 63.0, 'Menor de un año', 61.0, 59.0, 64.0, 67.0, 66.0,
                   68.0, 70.0, 72.0, 69.0, 73.0, 71.0, 75.0, 74.0, 76.0, 77.0,
                   79.0, 78.0, 82.0, 80.0, 81.0, 83.0, 84.0, 85.0, 87.0, 89.0,
                   88.0, 86.0, 90.0, 93.0, 91.0, '97 años y más', 92.0, 94.0,
                   96.0, 95.0, 'Mayor de 15 años con edad ignorada'],
                  categories=[1.0, 2.0, 3.0, 4.0, ..., 96.0, '97 años y más', 'Mayor de 15 años con edad ignorada', 'Menor de un año'], ordered=False, dtype='category')
 NumericBlock: 99 dtype: int64,
 '_item_cache': {},
 '_attrs': {},
 '_flags': <Flags(allows_duplicate_labels=True)>,
 '_name': 'Edad'}

In [31]:
df['Edad'].value_counts().items()