<a href="https://colab.research.google.com/github/SimonGsponer/Introduciendo_Python_Para_Ciencias_Sociales/blob/main/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python

## 1.0 Tipos de Datos Principales

**Truco:** La función `print()` se usa para ver resultados de operaciones.

### Tipo Booleano

In [ ]:
# el tipo booleano tiene dos valores: True (correcto) o False (incorrecto). Se usa para comprobar condiciones
# y implementar secuencias lógicas. Correcto/incorrecto también tienen el valor numérico 1/0.
# aplicación en análisis de datos: filtrar un conjunto de datos usando alguna condición lógica
# IMPORTANTE: la función ´bool()´ se puede usar para convertir cualquier objeto de python en el tipo booleano!
print(f"Algunos ejemplos de booleanos: a: {True}, b: {bool(1)}, c: {bool(-4)}, d: {bool('hola')}, \
e: {bool(None)}, f: {bool('')}, g: {bool(0)}")

Algunos ejemplos de booleanos: a: True, b: True, c: True, d: True, e: False, f: False, g: False

### Números Enteros

In [4]:
# integer -> números enteros
# aplicación en análisis de datos: variables como edad, estatura, peso, etcétera
print(f"Algunos ejemplos de números enteros: {5}, {int(5.5)}, {int(5.8)}, {-3}")

Algunos ejemplos de números enteros: 5, 5, 5, -3

### Punto Flotante

In [ ]:
# float -> punto flotante, número que admite la parte decimal
# aplicación en análisis de datos: variables numéricas en general 
print(f"Algunos ejemplos de puntos flotantes: {5.5}, {float(0)}, {int(1)/10}")

Algunos ejemplos de puntos flotantes: 5.5, 0.0, 0.1

### Cadena

In [ ]:
# string -> cadena, forma de representar letras y textos
# aplicación en análisis de datos: respuestas escritas de personas, variables categóricas antes de codificarlas
print(f"Algunos ejemplos de cadenas: {str(5)}, {'hello world'}, {str(bool(-4))}")

print(f"Importante: {str(bool(-4)) == bool(-4)}, {str(5) == 5}!!!")

Algunos ejemplos de cadenas: 5, hello world, True
Importante: False, False!!!

### Asignación vs. Comprobar Igualdad

In [ ]:
# el signo igual se usa para asignar valores a variables (x es una variable con el valor 3)
x = 3
print(x)
print(x * x)
print(x ** x)
# para usar el signo igual en la manera matemática (o sea, comprobar igualdad) es necesario usar dos signos iguales seguidos
print(x == 3)

3
9
27
True

### Práctica de Capítulo 1.0

truco: la función `type()` se puede usar para averiguar el tipo de un objeto en python, p. ej. `type("hello")` devuelve `str`. Para imprimir el resultado necesita usar la función `print()` también; o sea `print(type("hello"))`

In [ ]:
# 1.1 Asigna el número entero 2500 a una variable que se llama `colones` e imprímelo.

# 1.2 Qué es el resultado de 2 == 3, y ¿cúal tipo es el resultado? 

# 1.3 ¿Cúal es la diferencia entre las expresiones `x = 3` y `x == 3`?

# 1.4 ¿Cúal tipo de dato es el valor 9?

# 1.5 ¿Cúal tipo de dato es el número 3.0? 

# 1.6 ¿Cúal tipo es la expresión 2 ** 4.0?

## 2.0 Más Sobre Tipos Numéricos

### Números Enteros

In [ ]:
# cualquier combinación de números sin decimales produce un número entero
x = 390480475878994859
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

x = -14857873480705875083758785
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

# si es necesario leer el valor exacto del número se puede usar el guión bajo como mil separador
# IMPORTANTE: no es posible usar comas como mil separador porque crean un otro 
# tipo de dato que veremos luego (una tupla)
x = 1_000_000_000
print(x)

El valor de x es `390480475878994859` y el tipo de x es `<class 'int'>`
El valor de x es `-14857873480705875083758785` y el tipo de x es `<class 'int'>`
1000000000

In [ ]:
# IMPORTANTE: en python está prohibido empezar un número entero con 0 aparte del literal cero
# eso está bien
y = 0
# eso produce un error
y = 04

SyntaxError: ignored

**Operaciones Numéricas**

In [ ]:
print(f"suma: 3 + 4 = {3 + 4}")
print(f"resta: 3 - 4 = {3 - 4}")
print(f"multiplicación: 3 * 4 = {3 * 4}")
print(f"división: 3 / 4 = {3 / 4}")
print(f"división entera: 13 // 4 = {13 // 4}")
print(f"resto de división entera: 13 % 4 = {13 % 4}")
print(f"""\nTambién se puede usar la función divmod(x, y) para obtener los
resultados de la división entera y su resto directamente:
divmod(13, 4) = {divmod(13, 4)}\n""")
print(f"x elevado a y: 3 ** 4 = {3 ** 4} o también con la función pow(x,y): {pow(3, 4)}")

suma: 3 + 4 = 7
resta: 3 - 4 = -1
multiplicación: 3 * 4 = 12
división: 3 / 4 = 0.75
división entera: 13 // 4 = 3
resto de división entera: 13 % 4 = 1

También se puede usar la función divmod(x, y) para obtener los
resultados de la división entera y su resto directamente:
divmod(13, 4) = (3, 1)

x elevado a y: 3 ** 4 = 81 o también con la función pow(x,y): 81

### Puntos Flotantes

In [ ]:
# cualquier combinación de números con cifras decimales produce un punto flotante
x = 5.
print(f"x es: `{x}` y el tipo es `{type(x)}`")

# aunque sea mala práctica, puntos flotantes pueden empezar con un cero adelante
x = 07.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 19.09
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 1_000.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x es: `5.0` y el tipo es `<class 'float'>`
x es: `7.0` y el tipo es `<class 'float'>`
x es: `19.09` y el tipo es `<class 'float'>`
x es: `1000.0` y el tipo es `<class 'float'>`

### Conversiones

In [ ]:
# en la primera práctica ya vimos la conversión automática entre números enteros y puntos flotantes
# ya que los valores correcto/incorrecto del tipo booleano están ligados a los valores 1/0, estos se convierten
# en operaciones matemáticas también

x = True + 1
print(x)

y = 4 - True + False 
print(y)

2
3

### Práctica de Capítulo 2.0

In [ ]:
# 2.1 ¿Qué hace el operador `+=`? ¿Qué hacen los operadores `-=`, `*=`, `**=` y `/=`?

x = 2
x += 5
print(x)

# 2.2 ¿Cuántos centímetros tiene un kilómetro? Asigne la cantidad de metros en un kilómetro y
# la cantidad de centímetros en un metro a variables
metros_en_kilometro = 
centimetros_en_metro = 

# 2.3 Use las variables de 2.1 para hacer la multiplicación; asigne la multiplicación a
# una nueva variable y muestra el resultado
centimetros_en_kilometro = 
print()

# 2.4 Imagínense que estuvieramos en el año 1970 en la Unión Sovietica, y sus 324 compañeros y usted fueran a
# comer una torta de chocolate gigantesca de 4988 pedacitos. ¿Cuántos pedazos va a recibir cada persona
# si ninguna persona debe tener más pedazos que lo demás? ¡Imprímalo para que el partido comunista
# vea el resultado!

# 2.5 Ahora imagínese que el resto de la torta fueran para nuestros compañeros del pacto de Varsovia en Checoslovaquia.
# ¿Cuántos pedazos mandarían sus compañeros y usted?

# 2.6 Nueva situación: Si fuera febrero del año 2023 y usted con un amigo suyo acabaran de ver el video introduciendo el nuevo
# megacárcel de Bukele en El Salvador. Cada uno de ustedes mandara el video a dos personas y cada persona también lo mandara a dos
# personas más. ¿Cuántas personas recibirían el video en el segundo ciclo de compartirlo? Cuántas personas en el trigésimo ciclo?

SyntaxError: ignored