<a href="https://colab.research.google.com/github/SimonGsponer/Introduciendo_Python_Para_Ciencias_Sociales/blob/main/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python

## 1.0 Tipos de Datos Principales

**Truco:** La función `print()` se usa para ver resultados de operaciones.

### Tipo Booleano

In [ ]:
# el tipo booleano tiene dos valores: True (correcto) o False (incorrecto). Se usa para comprobar condiciones
# y implementar secuencias lógicas. Correcto/incorrecto también tienen el valor numérico 1/0.
# aplicación en análisis de datos: filtrar un conjunto de datos usando alguna condición lógica
# IMPORTANTE: la función ´bool()´ se puede usar para convertir cualquier objeto de python en el tipo booleano!
print(f"Algunos ejemplos de booleanos: a: {True}, b: {bool(1)}, c: {bool(-4)}, d: {bool('hola')}, \
e: {bool(None)}, f: {bool('')}, g: {bool(0)}")

Algunos ejemplos de booleanos: a: True, b: True, c: True, d: True, e: False, f: False, g: False

### Números Enteros

In [ ]:
# integer -> números enteros
# aplicación en análisis de datos: variables como edad, estatura, peso, etcétera
print(f"Algunos ejemplos de números enteros: {5}, {int(5.5)}, {int(5.8)}, {-3}")

Algunos ejemplos de números enteros: 5, 5, 5, -3

### Punto Flotante

In [ ]:
# float -> punto flotante, número que admite la parte decimal
# aplicación en análisis de datos: variables numéricas en general 
print(f"Algunos ejemplos de puntos flotantes: {5.5}, {float(0)}, {int(1)/10}")

Algunos ejemplos de puntos flotantes: 5.5, 0.0, 0.1

### Cadena

In [ ]:
# string -> cadena, forma de representar letras y textos
# aplicación en análisis de datos: respuestas escritas de personas, variables categóricas antes de codificarlas
print(f"Algunos ejemplos de cadenas: {str(5)}, {'hello world'}, {str(bool(-4))}")

print(f"Importante: {str(bool(-4)) ==en  bool(-4)}, {str(5) == 5}!!!")

Algunos ejemplos de cadenas: 5, hello world, True
Importante: False, False!!!

### Asignación vs. Comprobar Igualdad

In [ ]:
# el signo igual se usa para asignar valores a variables (x es una variable con el valor 3)
x = 3
print(x)
print(x * x)
print(x ** x)
# para usar el signo igual en la manera matemática (o sea, comprobar igualdad) es necesario usar dos signos iguales seguidos
print(x == 3)

3
9
27
True

### Práctica de Capítulo 1.0

truco: la función `type()` se puede usar para averiguar el tipo de un objeto en python, p. ej. `type("hello")` devuelve `str`. Para imprimir el resultado necesita usar la función `print()` también; o sea `print(type("hello"))`

In [ ]:
# 1.1 Asigna el número entero 2500 a una variable que se llama `colones` e imprímelo.

# 1.2 Qué es el resultado de 2 == 3, y ¿cúal tipo es el resultado? 

# 1.3 ¿Cúal es la diferencia entre las expresiones `x = 3` y `x == 3`?

# 1.4 ¿Cúal tipo de dato es el valor 9?

# 1.5 ¿Cúal tipo de dato es el número 3.0? 

# 1.6 ¿Cúal tipo es la expresión 2 ** 4.0?

## 2.0 Más Sobre Tipos Numéricos

### Números Enteros

In [ ]:
# cualquier combinación de números sin decimales produce un número entero
x = 390480475878994859
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

x = -14857873480705875083758785
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

# si es necesario leer el valor exacto del número se puede usar el guión bajo como mil separador
# IMPORTANTE: no es posible usar comas como mil separador porque crean un otro 
# tipo de dato que veremos luego (una tupla)
x = 1_000_000_000
print(x)

El valor de x es `390480475878994859` y el tipo de x es `<class 'int'>`
El valor de x es `-14857873480705875083758785` y el tipo de x es `<class 'int'>`
1000000000

In [ ]:
# IMPORTANTE: en python está prohibido empezar un número entero con 0 aparte del literal cero
# eso está bien
y = 0
# eso produce un error
y = 04

SyntaxError: ignored

**Operaciones Numéricas**

In [ ]:
print(f"suma: 3 + 4 = {3 + 4}")
print(f"resta: 3 - 4 = {3 - 4}")
print(f"multiplicación: 3 * 4 = {3 * 4}")
print(f"división: 3 / 4 = {3 / 4}")
print(f"división entera: 13 // 4 = {13 // 4}")
print(f"resto de división entera: 13 % 4 = {13 % 4}")
print(f"""\nTambién se puede usar la función divmod(x, y) para obtener los
resultados de la división entera y su resto directamente:
divmod(13, 4) = {divmod(13, 4)}\n""")
print(f"x elevado a y: 3 ** 4 = {3 ** 4} o también con la función pow(x,y): {pow(3, 4)}")

suma: 3 + 4 = 7
resta: 3 - 4 = -1
multiplicación: 3 * 4 = 12
división: 3 / 4 = 0.75
división entera: 13 // 4 = 3
resto de división entera: 13 % 4 = 1

También se puede usar la función divmod(x, y) para obtener los
resultados de la división entera y su resto directamente:
divmod(13, 4) = (3, 1)

x elevado a y: 3 ** 4 = 81 o también con la función pow(x,y): 81

### Puntos Flotantes

In [ ]:
# cualquier combinación de números con cifras decimales produce un punto flotante
x = 5.
print(f"x es: `{x}` y el tipo es `{type(x)}`")

# aunque sea mala práctica, puntos flotantes pueden empezar con un cero adelante
x = 07.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 19.09
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 1_000.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x es: `5.0` y el tipo es `<class 'float'>`
x es: `7.0` y el tipo es `<class 'float'>`
x es: `19.09` y el tipo es `<class 'float'>`
x es: `1000.0` y el tipo es `<class 'float'>`

### Conversiones

In [ ]:
# en la primera práctica ya vimos la conversión automática entre números enteros y puntos flotantes
# ya que los valores correcto/incorrecto del tipo booleano están ligados a los valores 1/0, estos se convierten
# en operaciones matemáticas también

x = True + 1
print(x)

y = 4 - True + False 
print(y)

2
3

### Práctica de Capítulo 2.0

In [ ]:
# 2.1 ¿Qué hace el operador `+=`? ¿Qué hacen los operadores `-=`, `*=`, `**=` y `/=`?

x = 2
x += 5
print(x)

# 2.2 ¿Cuántos centímetros tiene un kilómetro? Asigne la cantidad de metros en un kilómetro y
# la cantidad de centímetros en un metro a variables
metros_en_kilometro = 
centimetros_en_metro = 

# 2.3 Use las variables de 2.1 para hacer la multiplicación; asigne la multiplicación a
# una nueva variable y muestra el resultado
centimetros_en_kilometro =
print()

# 2.4 Imagínense que estuvieramos en el año 1970 en la Unión Sovietica, y sus 324 compañeros y usted fueran a
# comer una torta de chocolate gigantesca de 4988 pedacitos. ¿Cuántos pedazos va a recibir cada persona
# si ninguna persona debe tener más pedazos que lo demás? ¡Imprímalo para que el partido comunista
# vea el resultado!

# 2.5 Ahora imagínese que el resto de la torta fueran para nuestros compañeros del pacto de Varsovia en Checoslovaquia.
# ¿Cuántos pedazos mandarían sus compañeros y usted?

# 2.6 Nueva situación: Si fuera febrero del año 2023 y usted con un amigo suyo acabaran de ver el video introduciendo el nuevo
# megacárcel de Bukele en El Salvador. Cada uno de ustedes mandara el video a dos personas y cada persona también lo mandara a dos
# personas más. ¿Cuántas personas recibirían el video en el segundo ciclo de compartirlo? Cuántas personas en el trigésimo ciclo?

SyntaxError: ignored

## 3.0 Envases Básicos de Datos

Hasta ahora vimos los tipos básicos en Python, los elementos con cuales vamos a construir formaciones más complejas. En este capítulo vamos a ver como se puede agrupar estos tipos básicos dentro de los envases que brinda Python. Los siguientes envasos son los más básicos, pero también los más importantes y frecuentes:

* **Lista:** Una secuencia de valores ordenada que puede contener de cualquier objeto.
* **Diccionarios:** Un diccionario relaciona una clave (tipo cadena) a un valor, lo cual puede ser cualquier objeto.
* **Conjuntos:** Representan conjuntos matemáticos y permiten solamente objectos únicos (es decir un conjunto nunca tiene duplicados)
* **Tuplas:** Básicamente lo mismo que una lista con la excepción que una tupla no se puede cambiar directamente después de su creación.

### Listas

Una secuencia de valores ordenada que puede contener de cualquier objeto.

In [ ]:
# una lista se crea con corchetes
frutas = ['aguacate', 'banano', 'citrón', 'durazno', 'endrinas', 'frutilla']

**Slicing**

Usar una operación de Slicing con una lista devuelve una lista también. La sintaxis de Slicing es así:

`lista[índice del primer elemento:índice del último elemento+1:intervalo]`

In [ ]:
x = frutas[:1]  # sin : python devuelve solamente el elemento concreto, o sea, sin su envase
print(f"El segundo elemento: {x}")

x = frutas[:3]
print(f"Los primeros tres elementos: {x}")

x = frutas[1:3]
print(f"El segundo y tercero elemento: {x}")

x = frutas[::2]
print(f"Cada segundo elemento: {x}")

x = frutas[-2:]
print(f"Los últimos dos elementos de la lista: {x}")

x = frutas[::-1]
print(f"Lista completa invertida: {x}")

El segundo elemento: ['aguacate']
Los primeros tres elementos: ['aguacate', 'banano', 'citrón']
El segundo y tercero elemento: ['banano', 'citrón']
Cada segundo elemento: ['aguacate', 'citrón', 'endrinas']
Los últimos dos elementos de la lista: ['endrinas', 'frutilla']
Lista completa invertida: ['frutilla', 'endrinas', 'durazno', 'citrón', 'banano', 'aguacate']

**Operaciónes Básicas: Añadir, Insertar y Extender Listas**

In [ ]:
centroamerica = ['Costa Rica', 'El Salvador', 'Nicaragua']

In [1]:
centroamerica.append('Guatemala') # append = añadir, aggrega un solo elemento a la lista directamente
print(f"Centroamérica 1: {centroamerica}")

centroamerica.insert(0, 'Honduras') # insert = insertar, agrega un solo elemento a la lista con el índice deseado
print(f"Centroamérica 2: {centroamerica}")

geograficamente_centroamerica = ['Belice', 'Panamá']
centroamerica.extend(geograficamente_centroamerica) # extend = extender, agrega una otra lista a nuestra lista
print(f"Centroamérica 3: {centroamerica}")

# dos otras maneras de extender una lista:

centroamerica = centroamerica + ["Suchitoto", "Copán"]
print(f"Centroamérica 4: {centroamerica}")
centroamerica += ["Canal de Panamá", "Tikal"]
print(f"Centroamérica 5: {centroamerica}")

NameError: ignored

**⚠️ IMPORTANTE ⚠️** Estas tres operaciones –añadir, insertar y extender– modifican la lista directamente. Véase los próximos dos ejemplos para entender lo que significa:

In [ ]:
centroamerica_reloaded = centroamerica.append('Colombia')
print(centroamerica_reloaded)

centroamerica = centroamerica.append('Colombia')
print(centroamerica)

None
None

¡Asignar la lista usando una operación que modifica aquella lista directamente no funciona! 😰 ¿Por qué? Porque una operación que modifica el objeto directamente no devuele nada, e ya que no hay un resultado que se devuelve no hay nada para asignar.

También hay una manera para invertir una lista directamente a propósito:

In [ ]:
numeros = [1, 2, 3_000_000, 4]
numeros.reverse()
print(numeros)

[4, 3000000, 2, 1]

**Modificar Elementos**

In [ ]:
paises = ['Argentina', 'Argentina campeón del mundo', 'Argentina', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']
print(paises)

['Argentina', 'Argentina campeón del mundo', 'Argentina', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']

In [ ]:
# modificando la lista usando el índice
paises[2] = 'Colombia'
print(paises)

['Argentina', 'Argentina campeón del mundo', 'Colombia', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']

In [ ]:
# modificando la lista con slice
paises[3:5] = ['Venezuela', 'Paraguay']
print(paises)

['Argentina', 'Argentina campeón del mundo', 'Colombia', 'Venezuela', 'Paraguay', 'Chile', 'Ecuador']

In [ ]:
# modificando 3 elementos con 2 elementos deja 2 elementos
paises[2:5] = ['BRASIL', 'URUGUAY']
print(paises)

['Argentina', 'Argentina campeón del mundo', 'BRASIL', 'URUGUAY', 'Chile', 'Ecuador']

**Iteraciones**

Recorrer un diccionario usando la sentencia `for`

In [ ]:
lista_aleatoria = [1, 200.93, 'hola', True]

for elemento in lista_aleatoria:
  print(elemento)

1
200.93
hola
True

Comprensión de una lista

In [ ]:
unos_numeros = [1, 2, 3, 4, 5] 

unos_numeros_cuadrados = [numero ** 2 for numero in unos_numeros]  # eso se llama `comprensión de lista`
print(unos_numeros_cuadrados)

# es lo mismo que

unos_numeros = [1, 2, 3, 4, 5] 

unos_numeros_cuadrados = list()
for numero in unos_numeros:
  numero_cuandrado = numero ** 2
  unos_numeros_cuadrados.append(numero_cuandrado)

print(unos_numeros_cuadrados)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

Iteraciones Simultáneas usando `zip()`

In [ ]:
# con zip se puede recorrer varias listas al mismo tiempo
paises = ['CRC', 'PAN', 'NCA']
pibs_2020 = [62_160_000_000, 53_980_000_000, 12_590_000_000]
pibs_2021 = [64_280_000_000, 63_610_000_000, 14_010_000_000]

for pais, pib_2020, pib_2021 in zip(paises, pibs_2020, pibs_2021):
  tasa_crecimiento = (pib_2021 - pib_2020) / (pib_2020)
  tasa_porcentaje = round(tasa_crecimiento * 100, 2) # round() redondea un número a 2 cifras decimales
  print(f"Tasa de crecimiento económica de {pais}: {tasa_porcentaje}")

Tasa de crecimiento económica de CRC: 3.41
Tasa de crecimiento económica de PAN: 17.84
Tasa de crecimiento económica de NCA: 11.28

In [ ]:
lista_x = ['a', 'b'] * 100  # `* n` multiplica los valores de la lista `n` veces
print(len(lista_x))  # `len()` cuenta los números de elementos en una lista.

200

### Diccionarios

Un diccionario relaciona una clave (tipo cadena) a un valor, lo cual puede ser cualquier objeto.

In [ ]:
# para crear un diccionario es necesario usar llaves {}
poblaciones_latam = {
    'ARG': 46_044_703,
    'COL': 52_215_503,
    'BRA': 218_689_757
}

In [ ]:
print(len(poblaciones_latam))  # aquí `len()` cuenta el número de pares

Obtener un valor del diccionario

In [ ]:
print(poblaciones_latam['COL'])
print(poblaciones_latam.get('BRA'))

52215503
218689757

Añadir y modificar elementos

In [ ]:
poblaciones_latam['PER'] = 32_440_172 
poblaciones_latam['ARG'] += 1
print(poblaciones_latam)

{'ARG': 46044704, 'COL': 52215503, 'BRA': 218689757, 'PER': 32440172}

Obtener los valores, las claves y los pares de un diccionario

In [ ]:
poblaciones_latam_valores = list(poblaciones_latam.values())
print(poblaciones_latam_valores)

poblaciones_latam_claves = list(poblaciones_latam.keys())
print(poblaciones_latam_claves)

poblaciones_latam_pares = list(poblaciones_latam.items())
print(poblaciones_latam_pares)

[46044704, 52215503, 218689757, 32440172, 3416264, 7439863, 30518260]
['ARG', 'COL', 'BRA', 'PER', 'URU', 'PAR', 'VEN']
[('ARG', 46044704), ('COL', 52215503), ('BRA', 218689757), ('PER', 32440172), ('URU', 3416264), ('PAR', 7439863), ('VEN', 30518260)]

**Iteraciones**

Recorrer un diccionario usando la sentencia `for`

In [ ]:
for key, value in poblaciones_latam.items():
  print(f"Yo soy la clave `{key}` e yo el valor `{value}`")

Yo soy la clave `ARG` e yo el valor `46044704`
Yo soy la clave `COL` e yo el valor `52215503`
Yo soy la clave `BRA` e yo el valor `218689757`
Yo soy la clave `PER` e yo el valor `32440172`

In [ ]:
# algo más productivo
otros_paises = ['URU', 'PAR', 'VEN']
poblaciones = [3_416_264, 7_439_863, 30_518_260 ]

print(len(poblaciones_latam))  # len() devuelve el tamaño de un envase y funciona para todos los envases básicos

for pais, poblacion in zip(otros_paises, poblaciones):
  poblaciones_latam[pais] = poblacion

print(len(poblaciones_latam))

4
7

Comprensión de un diccionario

In [ ]:
limite = 30_000_000

poblaciones_latam_grandes = {key:value for key, value in poblaciones_latam.items() if value >= limite}

print(poblaciones_latam_grandes)

{'ARG': 46044704, 'COL': 52215503, 'BRA': 218689757, 'PER': 32440172, 'VEN': 30518260}

Fusión de diccionarios

In [ ]:
dict_a = {
    "a": True,
    "b": False
}

dict_b = {
    "c": None,
    "d": True
}

dict_c = dict(**dict_a, **dict_b)
print(dict_c)

{'a': True, 'b': False, 'c': None, 'd': True}

### Conjuntos

Representan conjuntos matemáticos y permiten solamente objectos únicos (es decir un conjunto nunca tiene duplicados)

In [ ]:
# para crear una nueva instancia de un conjunto también hay que usar llaves {}
cono_sur = {'Argentina', 'Argentina', 'Chile', 'Uruguay', 'Paraguay'}
mercosur = {'Argentina', 'Uruguay', 'Paraguay', 'Brasil'}
print(cono_sur)  # conjuntos no permiten duplicados

{'Uruguay', 'Chile', 'Paraguay', 'Argentina'}

In [ ]:
x = cono_sur.union(mercosur) # une los elementos únicos de los dos conjuntos
print(f"1: {x}")

x = cono_sur.intersection(mercosur) # identifica los elementos compartidos
print(f"2: {x}")

x = cono_sur.difference(mercosur) # identifica los elementos que están en la primera lista pero no en la segunda
print(f"3: {x}")

1: {'Uruguay', 'Chile', 'Argentina', 'Brasil', 'Paraguay'}
2: {'Uruguay', 'Argentina', 'Paraguay'}
3: {'Chile'}

**Iteraciones**

In [ ]:
suramerica = {
    'Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia',
    'Ecuador', 'Guyana', 'Perú', 'Surinam', 'Uruguay', 'Venezuela'
}

Recorrer un conjunto usando la sentencia `for`

In [ ]:
for pais in suramerica:
  print(f"Aquí un país de suramerica: {pais}")

Aquí un país de suramerica: Guyana
Aquí un país de suramerica: Uruguay
Aquí un país de suramerica: Ecuador
Aquí un país de suramerica: Chile
Aquí un país de suramerica: Venezuela
Aquí un país de suramerica: Argentina
Aquí un país de suramerica: Bolivia
Aquí un país de suramerica: Surinam
Aquí un país de suramerica: Colombia
Aquí un país de suramerica: Perú
Aquí un país de suramerica: Brasil

Comprensión de un conjunto

In [ ]:
paises_con_e = {pais for pais in suramerica if 'e' in pais}
print(paises_con_e) # acuérdese: E no es la misma letra que e, por eso Ecuador no se encuentra en este conjunto

{'Chile', 'Perú', 'Venezuela', 'Argentina'}

### Tuplas

Al final, `tuplas` son exactamente lo mismo que `listas` aparte de una diferencia: una `tupla` es **inmutable**. O sea, para modificar una tupla hay que sobreescribir el objeto, no hay maneras de modificación directa. En la mayoría de casos –y especialmente en el ámbito de análisis de datos– esta diferencia tiene poca importancia. Por eso usted necesita reconocer tuplas cuando aparecen e ya.

La función `id()` permite ver la dirección del objeto en memoria de su computadora. Usémoslo para ver que pasará en el ejemplo siguiente:

In [ ]:
# tupla
gran_colombia = ('Panamá', 'Venezuela', 'Colombia', 'Ecuador')
print(id(gran_colombia))

gran_colombia = gran_colombia + ('Canal de Panamá',)
print(id(gran_colombia))

139868832897424
139868981178864

In [ ]:
# lista
gran_colombia_lista = ['Panamá', 'Venezuela', 'Colombia', 'Ecuador']
print(id(gran_colombia_lista))

gran_colombia_lista.extend(['Canal de Panamá'])
print(id(gran_colombia_lista))
# la dirección no cambia

139868833053504
139868833053504

### Práctica de Capítulo 3.0

In [ ]:
# Ejercicio 1
lista_ejercicio_1 = ['1'] * 984_985
lista_ejercicio_1.extend([x for x in range(0,1000)])

# 1.1 ¿Cuál es el valor del último elemento?
# 1.2 ¿Cuál es la diferencia entre `lista_ejercicio_1[-1]` Y `lista_ejercicio_1[-1:]`?
# 1.3 ¿Cuántos elementos tiene la lista `lista_ejercicio_1`?
# 1.4 ¿Cuántos elementos únicos hay?
# 1.5 Cree un conjunto que lleva todos los números de `lista_ejercicio_1` que sean divisibles
#     por 2 y 7 (o sea sin dejar un resto)

999

In [ ]:
# Ejercicio 2
lista_ejercicio_2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# 2.1 Compruebe –usando pyhton– que esta lista no tiene duplicados.
# 2.2 Agrega las letras 'i', 'j', 'k' a la lista

In [ ]:
# Ejercicio 3
cuatro_artistas = {
    'Bad Bunny': 28,
    'Duki': 24,
    'La Bichota': 31,
    'Nicky Jam': 41
}

# 3.1 El diccionario `cuatro_artistas` relaciona cada artista con su edad en 2022. Ya que estamos en 2023, sube 
# cada edad por un año. Use dos enfoques, una vez la sentencia `for` y una vez la comprensión de diccionario.
# 3.2 Por razones estéticas, queremos cambiar las claves del diccionario en mayúsculas. Hágalo con el diccionario del
# ejercicio 3.1. Truco: Use una sentencia `for` cunto con las atributos `.upper()`(que convierte las letras de una
# cadena en mayúscula - p.ej. 'hola'.upper() resulta en `HOLA`) y .pop(nombre del clave) que borra el par de la clave
# especificada del diccionario (p.ej. cuatro_artistas.pop('Bad Bunny') borrará el puertorriqueño)

In [ ]:
# Ejercicio 4

lista_a = ['persona_a', 'persona_b', 'persona_c']
lista_b = ['economía', 'ciencias políticas', 'derecho']

# Cree un diccionario usando los elementos de lista_a como claves y los elementos de lista_b como valores.
# Use una comprensión de diccionario juntos con `zip`

# ⚠️ Zona de Construcción ⚠️👷