<a href="https://colab.research.google.com/github/SimonGsponer/Introduciendo_Python_Para_Ciencias_Sociales/blob/main/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducci√≥n a Python

## 1.0 Tipos de Datos Principales

**Truco:** La funci√≥n `print()` se usa para ver resultados de operaciones.

### Tipo Booleano

In [ ]:
# el tipo booleano tiene dos valores: True (correcto) o False (incorrecto). Se usa para comprobar condiciones
# y implementar secuencias l√≥gicas. Correcto/incorrecto tambi√©n tienen el valor num√©rico 1/0.
# aplicaci√≥n en an√°lisis de datos: filtrar un conjunto de datos usando alguna condici√≥n l√≥gica
# IMPORTANTE: la funci√≥n ¬¥bool()¬¥ se puede usar para convertir cualquier objeto de python en el tipo booleano!
print(f"Algunos ejemplos de booleanos: a: {True}, b: {bool(1)}, c: {bool(-4)}, d: {bool('hola')}, \
e: {bool(None)}, f: {bool('')}, g: {bool(0)}")

Algunos ejemplos de booleanos: a: True, b: True, c: True, d: True, e: False, f: False, g: False

### N√∫meros Enteros

In [ ]:
# integer -> n√∫meros enteros
# aplicaci√≥n en an√°lisis de datos: variables como edad, estatura, peso, etc√©tera
print(f"Algunos ejemplos de n√∫meros enteros: {5}, {int(5.5)}, {int(5.8)}, {-3}")

Algunos ejemplos de n√∫meros enteros: 5, 5, 5, -3

### Punto Flotante

In [ ]:
# float -> punto flotante, n√∫mero que admite la parte decimal
# aplicaci√≥n en an√°lisis de datos: variables num√©ricas en general 
print(f"Algunos ejemplos de puntos flotantes: {5.5}, {float(0)}, {int(1)/10}")

Algunos ejemplos de puntos flotantes: 5.5, 0.0, 0.1

### Cadena

In [ ]:
# string -> cadena, forma de representar letras y textos
# aplicaci√≥n en an√°lisis de datos: respuestas escritas de personas, variables categ√≥ricas antes de codificarlas
print(f"Algunos ejemplos de cadenas: {str(5)}, {'hello world'}, {str(bool(-4))}")

print(f"Importante: {str(bool(-4)) ==en  bool(-4)}, {str(5) == 5}!!!")

Algunos ejemplos de cadenas: 5, hello world, True
Importante: False, False!!!

### Asignaci√≥n vs. Comprobar Igualdad

In [ ]:
# el signo igual se usa para asignar valores a variables (x es una variable con el valor 3)
x = 3
print(x)
print(x * x)
print(x ** x)
# para usar el signo igual en la manera matem√°tica (o sea, comprobar igualdad) es necesario usar dos signos iguales seguidos
print(x == 3)

3
9
27
True

### Pr√°ctica de Cap√≠tulo 1.0

truco: la funci√≥n `type()` se puede usar para averiguar el tipo de un objeto en python, p. ej. `type("hello")` devuelve `str`. Para imprimir el resultado necesita usar la funci√≥n `print()` tambi√©n; o sea `print(type("hello"))`

In [ ]:
# 1.1 Asigna el n√∫mero entero 2500 a una variable que se llama `colones` e impr√≠melo.

# 1.2 Qu√© es el resultado de 2 == 3, y ¬øc√∫al tipo es el resultado? 

# 1.3 ¬øC√∫al es la diferencia entre las expresiones `x = 3` y `x == 3`?

# 1.4 ¬øC√∫al tipo de dato es el valor 9?

# 1.5 ¬øC√∫al tipo de dato es el n√∫mero 3.0? 

# 1.6 ¬øC√∫al tipo es la expresi√≥n 2 ** 4.0?

## 2.0 M√°s Sobre Tipos Num√©ricos

### N√∫meros Enteros

In [ ]:
# cualquier combinaci√≥n de n√∫meros sin decimales produce un n√∫mero entero
x = 390480475878994859
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

x = -14857873480705875083758785
print(f"El valor de x es `{x}` y el tipo de x es `{type(x)}`")

# si es necesario leer el valor exacto del n√∫mero se puede usar el gui√≥n bajo como mil separador
# IMPORTANTE: no es posible usar comas como mil separador porque crean un otro 
# tipo de dato que veremos luego (una tupla)
x = 1_000_000_000
print(x)

El valor de x es `390480475878994859` y el tipo de x es `<class 'int'>`
El valor de x es `-14857873480705875083758785` y el tipo de x es `<class 'int'>`
1000000000

In [ ]:
# IMPORTANTE: en python est√° prohibido empezar un n√∫mero entero con 0 aparte del literal cero
# eso est√° bien
y = 0
# eso produce un error
y = 04

SyntaxError: ignored

**Operaciones Num√©ricas**

In [ ]:
print(f"suma: 3 + 4 = {3 + 4}")
print(f"resta: 3 - 4 = {3 - 4}")
print(f"multiplicaci√≥n: 3 * 4 = {3 * 4}")
print(f"divisi√≥n: 3 / 4 = {3 / 4}")
print(f"divisi√≥n entera: 13 // 4 = {13 // 4}")
print(f"resto de divisi√≥n entera: 13 % 4 = {13 % 4}")
print(f"""\nTambi√©n se puede usar la funci√≥n divmod(x, y) para obtener los
resultados de la divisi√≥n entera y su resto directamente:
divmod(13, 4) = {divmod(13, 4)}\n""")
print(f"x elevado a y: 3 ** 4 = {3 ** 4} o tambi√©n con la funci√≥n pow(x,y): {pow(3, 4)}")

suma: 3 + 4 = 7
resta: 3 - 4 = -1
multiplicaci√≥n: 3 * 4 = 12
divisi√≥n: 3 / 4 = 0.75
divisi√≥n entera: 13 // 4 = 3
resto de divisi√≥n entera: 13 % 4 = 1

Tambi√©n se puede usar la funci√≥n divmod(x, y) para obtener los
resultados de la divisi√≥n entera y su resto directamente:
divmod(13, 4) = (3, 1)

x elevado a y: 3 ** 4 = 81 o tambi√©n con la funci√≥n pow(x,y): 81

### Puntos Flotantes

In [ ]:
# cualquier combinaci√≥n de n√∫meros con cifras decimales produce un punto flotante
x = 5.
print(f"x es: `{x}` y el tipo es `{type(x)}`")

# aunque sea mala pr√°ctica, puntos flotantes pueden empezar con un cero adelante
x = 07.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 19.09
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x = 1_000.0
print(f"x es: `{x}` y el tipo es `{type(x)}`")

x es: `5.0` y el tipo es `<class 'float'>`
x es: `7.0` y el tipo es `<class 'float'>`
x es: `19.09` y el tipo es `<class 'float'>`
x es: `1000.0` y el tipo es `<class 'float'>`

### Conversiones

In [ ]:
# en la primera pr√°ctica ya vimos la conversi√≥n autom√°tica entre n√∫meros enteros y puntos flotantes
# ya que los valores correcto/incorrecto del tipo booleano est√°n ligados a los valores 1/0, estos se convierten
# en operaciones matem√°ticas tambi√©n

x = True + 1
print(x)

y = 4 - True + False 
print(y)

2
3

### Pr√°ctica de Cap√≠tulo 2.0

In [ ]:
# 2.1 ¬øQu√© hace el operador `+=`? ¬øQu√© hacen los operadores `-=`, `*=`, `**=` y `/=`?

x = 2
x += 5
print(x)

# 2.2 ¬øCu√°ntos cent√≠metros tiene un kil√≥metro? Asigne la cantidad de metros en un kil√≥metro y
# la cantidad de cent√≠metros en un metro a variables
metros_en_kilometro = 
centimetros_en_metro = 

# 2.3 Use las variables de 2.1 para hacer la multiplicaci√≥n; asigne la multiplicaci√≥n a
# una nueva variable y muestra el resultado
centimetros_en_kilometro =
print()

# 2.4 Imag√≠nense que estuvieramos en el a√±o 1970 en la Uni√≥n Sovietica, y sus 324 compa√±eros y usted fueran a
# comer una torta de chocolate gigantesca de 4988 pedacitos. ¬øCu√°ntos pedazos va a recibir cada persona
# si ninguna persona debe tener m√°s pedazos que lo dem√°s? ¬°Impr√≠malo para que el partido comunista
# vea el resultado!

# 2.5 Ahora imag√≠nese que el resto de la torta fueran para nuestros compa√±eros del pacto de Varsovia en Checoslovaquia.
# ¬øCu√°ntos pedazos mandar√≠an sus compa√±eros y usted?

# 2.6 Nueva situaci√≥n: Si fuera febrero del a√±o 2023 y usted con un amigo suyo acabaran de ver el video introduciendo el nuevo
# megac√°rcel de Bukele en El Salvador. Cada uno de ustedes mandara el video a dos personas y cada persona tambi√©n lo mandara a dos
# personas m√°s. ¬øCu√°ntas personas recibir√≠an el video en el segundo ciclo de compartirlo? Cu√°ntas personas en el trig√©simo ciclo?

SyntaxError: ignored

## 3.0 Envases B√°sicos de Datos

Hasta ahora vimos los tipos b√°sicos en Python, los elementos con cuales vamos a construir formaciones m√°s complejas. En este cap√≠tulo vamos a ver como se puede agrupar estos tipos b√°sicos dentro de los envases que brinda Python. Los siguientes envasos son los m√°s b√°sicos, pero tambi√©n los m√°s importantes y frecuentes:

* **Lista:** Una secuencia de valores ordenada que puede contener de cualquier objeto.
* **Diccionarios:** Un diccionario relaciona una clave (tipo cadena) a un valor, lo cual puede ser cualquier objeto.
* **Conjuntos:** Representan conjuntos matem√°ticos y permiten solamente objectos √∫nicos (es decir un conjunto nunca tiene duplicados)
* **Tuplas:** B√°sicamente lo mismo que una lista con la excepci√≥n que una tupla no se puede cambiar directamente despu√©s de su creaci√≥n.

### Listas

Una secuencia de valores ordenada que puede contener de cualquier objeto.

In [ ]:
# una lista se crea con corchetes
frutas = ['aguacate', 'banano', 'citr√≥n', 'durazno', 'endrinas', 'frutilla']

**Slicing**

Usar una operaci√≥n de Slicing con una lista devuelve una lista tambi√©n. La sintaxis de Slicing es as√≠:

`lista[√≠ndice del primer elemento:√≠ndice del √∫ltimo elemento+1:intervalo]`

In [ ]:
x = frutas[:1]  # sin : python devuelve solamente el elemento concreto, o sea, sin su envase
print(f"El segundo elemento: {x}")

x = frutas[:3]
print(f"Los primeros tres elementos: {x}")

x = frutas[1:3]
print(f"El segundo y tercero elemento: {x}")

x = frutas[::2]
print(f"Cada segundo elemento: {x}")

x = frutas[-2:]
print(f"Los √∫ltimos dos elementos de la lista: {x}")

x = frutas[::-1]
print(f"Lista completa invertida: {x}")

El segundo elemento: ['aguacate']
Los primeros tres elementos: ['aguacate', 'banano', 'citr√≥n']
El segundo y tercero elemento: ['banano', 'citr√≥n']
Cada segundo elemento: ['aguacate', 'citr√≥n', 'endrinas']
Los √∫ltimos dos elementos de la lista: ['endrinas', 'frutilla']
Lista completa invertida: ['frutilla', 'endrinas', 'durazno', 'citr√≥n', 'banano', 'aguacate']

**Operaci√≥nes B√°sicas: A√±adir, Insertar y Extender Listas**

In [ ]:
centroamerica = ['Costa Rica', 'El Salvador', 'Nicaragua']

In [1]:
centroamerica.append('Guatemala') # append = a√±adir, aggrega un solo elemento a la lista directamente
print(f"Centroam√©rica 1: {centroamerica}")

centroamerica.insert(0, 'Honduras') # insert = insertar, agrega un solo elemento a la lista con el √≠ndice deseado
print(f"Centroam√©rica 2: {centroamerica}")

geograficamente_centroamerica = ['Belice', 'Panam√°']
centroamerica.extend(geograficamente_centroamerica) # extend = extender, agrega una otra lista a nuestra lista
print(f"Centroam√©rica 3: {centroamerica}")

# dos otras maneras de extender una lista:

centroamerica = centroamerica + ["Suchitoto", "Cop√°n"]
print(f"Centroam√©rica 4: {centroamerica}")
centroamerica += ["Canal de Panam√°", "Tikal"]
print(f"Centroam√©rica 5: {centroamerica}")

NameError: ignored

**‚ö†Ô∏è IMPORTANTE ‚ö†Ô∏è** Estas tres operaciones ‚Äìa√±adir, insertar y extender‚Äì modifican la lista directamente. V√©ase los pr√≥ximos dos ejemplos para entender lo que significa:

In [ ]:
centroamerica_reloaded = centroamerica.append('Colombia')
print(centroamerica_reloaded)

centroamerica = centroamerica.append('Colombia')
print(centroamerica)

None
None

¬°Asignar la lista usando una operaci√≥n que modifica aquella lista directamente no funciona! üò∞ ¬øPor qu√©? Porque una operaci√≥n que modifica el objeto directamente no devuele nada, e ya que no hay un resultado que se devuelve no hay nada para asignar.

Tambi√©n hay una manera para invertir una lista directamente a prop√≥sito:

In [ ]:
numeros = [1, 2, 3_000_000, 4]
numeros.reverse()
print(numeros)

[4, 3000000, 2, 1]

**Modificar Elementos**

In [ ]:
paises = ['Argentina', 'Argentina campe√≥n del mundo', 'Argentina', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']
print(paises)

['Argentina', 'Argentina campe√≥n del mundo', 'Argentina', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']

In [ ]:
# modificando la lista usando el √≠ndice
paises[2] = 'Colombia'
print(paises)

['Argentina', 'Argentina campe√≥n del mundo', 'Colombia', 'Bolivia', 'Clmbia', 'Chile', 'Ecuador']

In [ ]:
# modificando la lista con slice
paises[3:5] = ['Venezuela', 'Paraguay']
print(paises)

['Argentina', 'Argentina campe√≥n del mundo', 'Colombia', 'Venezuela', 'Paraguay', 'Chile', 'Ecuador']

In [ ]:
# modificando 3 elementos con 2 elementos deja 2 elementos
paises[2:5] = ['BRASIL', 'URUGUAY']
print(paises)

['Argentina', 'Argentina campe√≥n del mundo', 'BRASIL', 'URUGUAY', 'Chile', 'Ecuador']

**Iteraciones**

Recorrer un diccionario usando la sentencia `for`

In [ ]:
lista_aleatoria = [1, 200.93, 'hola', True]

for elemento in lista_aleatoria:
  print(elemento)

1
200.93
hola
True

Comprensi√≥n de una lista

In [ ]:
unos_numeros = [1, 2, 3, 4, 5] 

unos_numeros_cuadrados = [numero ** 2 for numero in unos_numeros]  # eso se llama `comprensi√≥n de lista`
print(unos_numeros_cuadrados)

# es lo mismo que

unos_numeros = [1, 2, 3, 4, 5] 

unos_numeros_cuadrados = list()
for numero in unos_numeros:
  numero_cuandrado = numero ** 2
  unos_numeros_cuadrados.append(numero_cuandrado)

print(unos_numeros_cuadrados)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

Iteraciones Simult√°neas usando `zip()`

In [ ]:
# con zip se puede recorrer varias listas al mismo tiempo
paises = ['CRC', 'PAN', 'NCA']
pibs_2020 = [62_160_000_000, 53_980_000_000, 12_590_000_000]
pibs_2021 = [64_280_000_000, 63_610_000_000, 14_010_000_000]

for pais, pib_2020, pib_2021 in zip(paises, pibs_2020, pibs_2021):
  tasa_crecimiento = (pib_2021 - pib_2020) / (pib_2020)
  tasa_porcentaje = round(tasa_crecimiento * 100, 2) # round() redondea un n√∫mero a 2 cifras decimales
  print(f"Tasa de crecimiento econ√≥mica de {pais}: {tasa_porcentaje}")

Tasa de crecimiento econ√≥mica de CRC: 3.41
Tasa de crecimiento econ√≥mica de PAN: 17.84
Tasa de crecimiento econ√≥mica de NCA: 11.28

In [ ]:
lista_x = ['a', 'b'] * 100  # `* n` multiplica los valores de la lista `n` veces
print(len(lista_x))  # `len()` cuenta los n√∫meros de elementos en una lista.

200

### Diccionarios

Un diccionario relaciona una clave (tipo cadena) a un valor, lo cual puede ser cualquier objeto.

In [ ]:
# para crear un diccionario es necesario usar llaves {}
poblaciones_latam = {
    'ARG': 46_044_703,
    'COL': 52_215_503,
    'BRA': 218_689_757
}

In [ ]:
print(len(poblaciones_latam))  # aqu√≠ `len()` cuenta el n√∫mero de pares

Obtener un valor del diccionario

In [ ]:
print(poblaciones_latam['COL'])
print(poblaciones_latam.get('BRA'))

52215503
218689757

A√±adir y modificar elementos

In [ ]:
poblaciones_latam['PER'] = 32_440_172 
poblaciones_latam['ARG'] += 1
print(poblaciones_latam)

{'ARG': 46044704, 'COL': 52215503, 'BRA': 218689757, 'PER': 32440172}

Obtener los valores, las claves y los pares de un diccionario

In [ ]:
poblaciones_latam_valores = list(poblaciones_latam.values())
print(poblaciones_latam_valores)

poblaciones_latam_claves = list(poblaciones_latam.keys())
print(poblaciones_latam_claves)

poblaciones_latam_pares = list(poblaciones_latam.items())
print(poblaciones_latam_pares)

[46044704, 52215503, 218689757, 32440172, 3416264, 7439863, 30518260]
['ARG', 'COL', 'BRA', 'PER', 'URU', 'PAR', 'VEN']
[('ARG', 46044704), ('COL', 52215503), ('BRA', 218689757), ('PER', 32440172), ('URU', 3416264), ('PAR', 7439863), ('VEN', 30518260)]

**Iteraciones**

Recorrer un diccionario usando la sentencia `for`

In [ ]:
for key, value in poblaciones_latam.items():
  print(f"Yo soy la clave `{key}` e yo el valor `{value}`")

Yo soy la clave `ARG` e yo el valor `46044704`
Yo soy la clave `COL` e yo el valor `52215503`
Yo soy la clave `BRA` e yo el valor `218689757`
Yo soy la clave `PER` e yo el valor `32440172`

In [ ]:
# algo m√°s productivo
otros_paises = ['URU', 'PAR', 'VEN']
poblaciones = [3_416_264, 7_439_863, 30_518_260 ]

print(len(poblaciones_latam))  # len() devuelve el tama√±o de un envase y funciona para todos los envases b√°sicos

for pais, poblacion in zip(otros_paises, poblaciones):
  poblaciones_latam[pais] = poblacion

print(len(poblaciones_latam))

4
7

Comprensi√≥n de un diccionario

In [ ]:
limite = 30_000_000

poblaciones_latam_grandes = {key:value for key, value in poblaciones_latam.items() if value >= limite}

print(poblaciones_latam_grandes)

{'ARG': 46044704, 'COL': 52215503, 'BRA': 218689757, 'PER': 32440172, 'VEN': 30518260}

Fusi√≥n de diccionarios

In [ ]:
dict_a = {
    "a": True,
    "b": False
}

dict_b = {
    "c": None,
    "d": True
}

dict_c = dict(**dict_a, **dict_b)
print(dict_c)

{'a': True, 'b': False, 'c': None, 'd': True}

### Conjuntos

Representan conjuntos matem√°ticos y permiten solamente objectos √∫nicos (es decir un conjunto nunca tiene duplicados)

In [ ]:
# para crear una nueva instancia de un conjunto tambi√©n hay que usar llaves {}
cono_sur = {'Argentina', 'Argentina', 'Chile', 'Uruguay', 'Paraguay'}
mercosur = {'Argentina', 'Uruguay', 'Paraguay', 'Brasil'}
print(cono_sur)  # conjuntos no permiten duplicados

{'Uruguay', 'Chile', 'Paraguay', 'Argentina'}

In [ ]:
x = cono_sur.union(mercosur) # une los elementos √∫nicos de los dos conjuntos
print(f"1: {x}")

x = cono_sur.intersection(mercosur) # identifica los elementos compartidos
print(f"2: {x}")

x = cono_sur.difference(mercosur) # identifica los elementos que est√°n en la primera lista pero no en la segunda
print(f"3: {x}")

1: {'Uruguay', 'Chile', 'Argentina', 'Brasil', 'Paraguay'}
2: {'Uruguay', 'Argentina', 'Paraguay'}
3: {'Chile'}

**Iteraciones**

In [ ]:
suramerica = {
    'Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia',
    'Ecuador', 'Guyana', 'Per√∫', 'Surinam', 'Uruguay', 'Venezuela'
}

Recorrer un conjunto usando la sentencia `for`

In [ ]:
for pais in suramerica:
  print(f"Aqu√≠ un pa√≠s de suramerica: {pais}")

Aqu√≠ un pa√≠s de suramerica: Guyana
Aqu√≠ un pa√≠s de suramerica: Uruguay
Aqu√≠ un pa√≠s de suramerica: Ecuador
Aqu√≠ un pa√≠s de suramerica: Chile
Aqu√≠ un pa√≠s de suramerica: Venezuela
Aqu√≠ un pa√≠s de suramerica: Argentina
Aqu√≠ un pa√≠s de suramerica: Bolivia
Aqu√≠ un pa√≠s de suramerica: Surinam
Aqu√≠ un pa√≠s de suramerica: Colombia
Aqu√≠ un pa√≠s de suramerica: Per√∫
Aqu√≠ un pa√≠s de suramerica: Brasil

Comprensi√≥n de un conjunto

In [ ]:
paises_con_e = {pais for pais in suramerica if 'e' in pais}
print(paises_con_e) # acu√©rdese: E no es la misma letra que e, por eso Ecuador no se encuentra en este conjunto

{'Chile', 'Per√∫', 'Venezuela', 'Argentina'}

### Tuplas

Al final, `tuplas` son exactamente lo mismo que `listas` aparte de una diferencia: una `tupla` es **inmutable**. O sea, para modificar una tupla hay que sobreescribir el objeto, no hay maneras de modificaci√≥n directa. En la mayor√≠a de casos ‚Äìy especialmente en el √°mbito de an√°lisis de datos‚Äì esta diferencia tiene poca importancia. Por eso usted necesita reconocer tuplas cuando aparecen e ya.

La funci√≥n `id()` permite ver la direcci√≥n del objeto en memoria de su computadora. Us√©moslo para ver que pasar√° en el ejemplo siguiente:

In [ ]:
# tupla
gran_colombia = ('Panam√°', 'Venezuela', 'Colombia', 'Ecuador')
print(id(gran_colombia))

gran_colombia = gran_colombia + ('Canal de Panam√°',)
print(id(gran_colombia))

139868832897424
139868981178864

In [ ]:
# lista
gran_colombia_lista = ['Panam√°', 'Venezuela', 'Colombia', 'Ecuador']
print(id(gran_colombia_lista))

gran_colombia_lista.extend(['Canal de Panam√°'])
print(id(gran_colombia_lista))
# la direcci√≥n no cambia

139868833053504
139868833053504

### Pr√°ctica de Cap√≠tulo 3.0

In [ ]:
# Ejercicio 1
lista_ejercicio_1 = ['1'] * 984_985
lista_ejercicio_1.extend([x for x in range(0,1000)])

# 1.1 ¬øCu√°l es el valor del √∫ltimo elemento?
# 1.2 ¬øCu√°l es la diferencia entre `lista_ejercicio_1[-1]` Y `lista_ejercicio_1[-1:]`?
# 1.3 ¬øCu√°ntos elementos tiene la lista `lista_ejercicio_1`?
# 1.4 ¬øCu√°ntos elementos √∫nicos hay?
# 1.5 Cree un conjunto que lleva todos los n√∫meros de `lista_ejercicio_1` que sean divisibles
#     por 2 y 7 (o sea sin dejar un resto)

999

In [ ]:
# Ejercicio 2
lista_ejercicio_2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# 2.1 Compruebe ‚Äìusando pyhton‚Äì que esta lista no tiene duplicados.
# 2.2 Agrega las letras 'i', 'j', 'k' a la lista

In [ ]:
# Ejercicio 3
cuatro_artistas = {
    'Bad Bunny': 28,
    'Duki': 24,
    'La Bichota': 31,
    'Nicky Jam': 41
}

# 3.1 El diccionario `cuatro_artistas` relaciona cada artista con su edad en 2022. Ya que estamos en 2023, sube 
# cada edad por un a√±o. Use dos enfoques, una vez la sentencia `for` y una vez la comprensi√≥n de diccionario.
# 3.2 Por razones est√©ticas, queremos cambiar las claves del diccionario en may√∫sculas. H√°galo con el diccionario del
# ejercicio 3.1. Truco: Use una sentencia `for` cunto con las atributos `.upper()`(que convierte las letras de una
# cadena en may√∫scula - p.ej. 'hola'.upper() resulta en `HOLA`) y .pop(nombre del clave) que borra el par de la clave
# especificada del diccionario (p.ej. cuatro_artistas.pop('Bad Bunny') borrar√° el puertorrique√±o)

In [ ]:
# Ejercicio 4

lista_a = ['persona_a', 'persona_b', 'persona_c']
lista_b = ['econom√≠a', 'ciencias pol√≠ticas', 'derecho']

# Cree un diccionario usando los elementos de lista_a como claves y los elementos de lista_b como valores.
# Use una comprensi√≥n de diccionario juntos con `zip`

# ‚ö†Ô∏è Zona de Construcci√≥n ‚ö†Ô∏èüë∑